.toggleSwitch {
  appearance: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
  font-size: 0.95rem;
  background-color: var(--gray-light);
  border-radius: 60px;
}

.toggleSwitch[data-checked] {
  background-color: var(--gray-dark);
}

.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  color: var(--gray-light);
  transition: all 0.3s;
}

.thumb::after {
  content: '\2715';
}

.toggleSwitch[data-checked] .thumb {
  left: 26px;
  color: var(--gray-medium);
}

.toggleSwitch[data-checked] .thumb::after {
  content: '\2713';
}
